.card > .card-body{
    padding: 3vw;
}
.card{
    margin: 5vh auto;
}
/* 
  ##Device = Desktops
*/

  @media (min-width: 1025px){
    .card{
        width:35vw;
    }
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
  */
  
  @media (min-width: 320px) and (max-width: 1024px) {
    .card{
        width:100%;
    }
    
  }