.algorithm-test{
    border-top: solid 2px darkgrey;
    border-bottom: solid 2px darkgrey;
}

.problem-solution-section{
    height: 100%;
    overflow-y: auto;
}

.problem-info-section{
    z-index:0;
    overflow-y: auto;

}

.problem-info-section, .problem-solution-section, .code-section, .answer-section{
    background-color: white;
}


.gutter {
    background-color: rgba(119, 119, 119, 0.37);
    border: dotted 0.5px rgba(53, 53, 53, 0.37);
}

.gutter:hover{
    background-color: rgba(105, 78, 78, 0.37);
    border: dotted 0.5px rgba(58, 33, 33, 0.37);
}

.gutter.gutter-horizontal {
    cursor: col-resize;
}

.gutter.gutter-vertical {
    cursor: row-resize;
}

.test-title-bar{
    display:flex;
    border-bottom: solid 2px darkgrey;
}

#code-title-bar{
    display:flex;
    width:100%;
    padding: 1vh 0;
    z-index: 1;
    border-bottom: solid 2px darkgrey;
    background-color: white;
}

#code-title-bar > #code-file-name{
    align-self: flex-start;
    margin: 0 0 0 1vw;
    font-weight: bolder;
}
#code-title-bar > #language-select-input{
    margin: 0 1vw 0 auto;
}

#answer-btn-bar{
    width: 100%;
    padding: 1vh 1vw;
    display: flex;
    align-items: flex-start;
    border-bottom: solid 2px darkgrey;
}

#answer-section-title-bar{
    padding: 1vh 1vw;
    font-weight: bolder;
    border-top: solid 2px darkgrey;
    border-bottom: solid 2px darkgrey;
}

.problem-info-subtitle{
    font-weight: bold;
    margin-top: 2vh;
    margin-bottom: 1vh;
    text-align: center;
}



.test-result-table{
    width: calc(100% - 3vw);
    border-collapse: collapse;
    border-radius: 5px;
    margin: 2vh auto;
}

.test-result-table td{
    border:solid grey 1px;
    padding:5px;

}
.result-success, .result-fail{
    font-weight: bold;
    font-size: 1.2rem;
}
.result-success{
    color:rgb(0, 0, 201);
}
.result-fail{
    color:rgb(255, 82, 82);
}
.mark-result-title{
    margin-top:2vh;
    text-align: center;
    width:100%;
}

.mark-result-subtitle{
    text-align: center;
    width:100%;
}

.prewrap{
    white-space: pre-wrap;
}

/* 
  ##Device = Desktops
*/

@media (min-width: 1025px){
    .algorithm-test{
        display: flex;
    }
  }
  .answer-section{
    z-index: -1;
    overflow-y: scroll;
}

.code-section{
    overflow-y: scroll;
}
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
  */
  
  @media (max-width: 1024px) {
    .algorithm-test{
        display: block;
    }
    #code-title-bar{
        border-top: solid 2px darkgrey;
    }
    .answer-section{
        z-index: -1;
        overflow-y: auto;
    }
    
    .code-section{
        overflow-y: auto;
    }
  }