.form
{
    margin: 0 auto;
}

.form-group{
    margin: 2vh auto;
}

/* 
  ##Device = Desktops
*/

@media (min-width: 1025px){
    .form, .form-control, .btn-block{
        width: 20vw;
    }
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
  */
  
  @media (min-width: 320px) and (max-width: 1024px) {
    .form, .form-control, .btn-block{
        width: 100%;
    }

    
  }