form
{
    margin: 0 auto;
    text-align: center;
    margin: 0 auto;
}
.form-control{
  display: block;
  margin: 0 auto;
}

.form-label{
  font-weight: bold;
}

.form-group{
    margin: 2vh auto;
}

/* 
  ##Device = Desktops
*/

@media (min-width: 1025px){
    .form, .form-control{
        width: 30vw;
      
    }
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
  */
  
  @media (min-width: 320px) and (max-width: 1024px) {
    .form, .form-control{
      width: 100%;
    }
  }