.code-viewer{
    font-size: 1.1rem;
    width:100%;
    margin: 1vh 0;
}
.others-solutions-title-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#others-solution-language-select{
    margin-left:3vw;
}


.others-solution-comment{
    margin-top: 3vh;
}

.others-solution{
    border-bottom: solid 0.5px lightgrey;
    padding: 4vh 0;
}

.others-solution-comment-timestamp{
    color: rgb(85, 85, 85);
    padding-left: 1vw;
    font-family:Arial, Helvetica, sans-serif
}
.others-solution-comment-content{
    color: rgb(0, 47, 75);
    padding-left:5vw;
}

.like-btn{
    display: inline-block;
    cursor: pointer;
}
.like-btn:hover{
    cursor: pointer;
}
.like-btn.pressed{
    color:blue;
}
.like-btn.disabled{
    color:gray;
}
.like-btn.disabled:hover{
    cursor: not-allowed;
}
/* 
  ##Device = Desktops
*/

@media (min-width: 1025px){
    .others-solutions{
        padding-left: 10vw;
        padding-right: 10vw;
    }
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
  */
  
  @media (min-width: 320px) and (max-width: 1024px) {
    .others-solutions{
        padding-left: 1vw;
        padding-right: 1vw;
    }
  }