
 .left-panel .panel-title{
    font-weight: bold;
    margin:1vh 0;
}

.problem-types,.problem-levels{
    margin: 3vh 2vh 3vh 0;
    border-top: solid 1.1px #adadad;
}


.problem-page{
    position: relative;
    width:100%;
    margin: 0 auto;
}


.ploblem-item-box{
    border: solid 0.5px #cccccc;
    border-radius: 10px;
    margin: 1%;
    position: relative;
    padding: 1%;
    background-color: #f0f0f0;
    display:inline-flex;
    height: 150px;
}


.problem-info{
    width:80%;
    padding-left:5vh;
}

.problem-btn-panel{
    position: absolute;
    top: 10px;
    right:10px;
    width:40px;
    height:100%;
}

.problem-content{
    margin: 1vh 0;
}

.edit-problem-btn, .problem-resolved-icon{
    display:block;
}

.edit-problem-btn{
    position: absolute;
    bottom:2vh;
  
}

.problem-level{
    margin: 1vh 0;
}

/* 
  ##Device = Desktops
*/

@media (min-width: 1025px)
{
    .problem-page{
        display:inline-flex;
    }
    .left-panel{
        width: 33%;
        height:100%;
    }
    .problems-and-pages{
        width:67%;
    }
    .problem-list{
        width: 100%;
    }
    .ploblem-item-box{
        display:inline-flex;
        width: 48%;

        flex-wrap: wrap;
    }
    .problem-list-page{
        display: flex;
    }

}
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
  */
  
@media (min-width: 320px) and (max-width: 1024px) 
{
    .left-panel{
        width: 100%;
    }
    .problem-list{
        display:block;
        width:100%;
    }
    .ploblem-item-box{
        display:block;
        width:100%;
 
    }
    .problem-list-page{
        display: block;
    }
}