.App-header {
  min-height: 100vh;
}

.align-center{
  margin: 0 auto;
  align-items: center;
}

.align-right{
  margin: 0 0 0 auto;
}

.main{
  width:100%;
  padding: 1%;
  position: relative;
  scrollbar-base-color: aqua;
}

.pages{
  margin: 5vh 0;
}

.horizontal-scroll{
  overflow: auto;
  white-space: nowrap;
}

/* 텍스트가 일정 길이 이상이되면 ... 처리 */
.ellipsis-text
{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.bottom-bar{
  height:180px;
}

.home-button{
  position:absolute;
  top:0px;
}

.custom-select{
  width:auto;
}

.to-problem-link{
  text-decoration: none !important;
  color:black;
  font-weight: bold;
  font-size:1.2rem;
  background-color: transparent;
  width: auto;
  display:block;
  margin: 1vh 0;
  text-align: center;
}

.to-problem-link:hover{
  text-decoration: none !important;
}