.App-header {
  min-height: 100vh;
}

.align-center{
  margin: 0 auto;
  align-items: center;
}

.main{
  width:100%;
  padding: 1%;
  position: relative;
}

.horizontal-scroll{
  overflow: auto;
  white-space: nowrap;
}

/* 텍스트가 일정 길이 이상이되면 ... 처리 */
.ellipsis-text
{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}